
  :root {
	--text: #1a0909;
	--background: #fbf2f2;
	--primary: #ff7700;
	--secondary: #dfc89f;
	--accent: #d1c575;
	

	/* calculated colors */
	--primary-light: color-mix(in srgb, var(--primary), white 75%);
	--primary-dark: color-mix(in srgb, var(--primary), black 25%);
  }
  
	
	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100%;
		font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		color: var(--text);
		background-color: var(--background);
	}

	
    .page-header {
        text-align: center;
        padding: 2rem 1rem;
        font-size: 1.2rem;
    }
	
	section {
		padding: 2rem;
		margin: 0 auto;
		max-width: 1200px;
		background-color: var(--background);
	}

	section:nth-child(odd) {
		background-color: var(--background-alt);
	}

	.btn {
		padding: 0.75rem 1.5rem;
		border-radius: 4px;
		text-decoration: none;
		font-weight: bold;
		transition: all 0.3s ease;
	}

	.btn-primary {
		background-color: var(--primary);
		color: var(--text);
		border: 3px solid var(--primary);
	}

	.btn-primary:hover {
		background-color: var(--primary-light);
		color: var(--text);
		transform: translateY(-2px);
		border: 3px solid var(--primary);
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}
	

	.title-span {
		color: var(--primary);
	}
	
